/Imms.Aps/bin/
/Imms.Aps/obj/

/Imms.Mes/bin/
/Imms.Mes/obj/

/Imms.Core/bin/
/Imms.Core/obj/

/Imms.Test/bin/
/Imms.Test/obj/

/Imms.App/Imms.App.Android/obj/
/Imms.App/Imms.App.Android/bin/

/Imms.App/Imms.App/obj/
/Imms.App/Imms.App/bin/

/Imms.App/Imms.App.iOS/obj/
/Imms.App/Imms.App.iOS/bin/


*.user

*.cache
*.props

.DS_Store

.vs

