html,body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding:0px;
    overflow: hidden;
    /* background-color: #0565e2; */
    /* background-image: url("images/background.jpg"); */
    color: white;
    text-align: center;       
    font-family: '微软雅黑';
    background-size:contain;
}

.portal-win-sew-line{
    position: absolute;    
    padding: 0px;
    margin:0px;        
    top:0px;
    left:0px;
    right: 33.60vw;
    height: 66.60vh;     
}

.portal-win-video{
    position: absolute;
    top:0px;
    right:0px;    
    margin-top:20px;    
    padding:0px;
    width: 33.3vw;
    height: 26vh;    
}

.portal-efficiency{
    position: absolute;
    padding: 0px;
    margin:0px;
    top: 27.5vh;
    right:0px;   
    overflow: hidden; 
    width: 33.33vw;
    height: 17vh;    
}

.portal-qty{
    position: absolute;
    padding: 0px;
    margin:0px;
    top: 44.5vh;
    right:0px;   
    overflow: hidden; 
    width: 33.33vw;
    height: 19vh; 
}

.img-win-border{    
    left: 66.4vw;
    top: 0px;
    height: 100%;
    padding-left: 5px;
    position: absolute;
}

.portal-win-plan{
    position: absolute;
    padding: 0px;
    margin: 0px;
    bottom: 0px;
    right: 0px;
    width: 33.3vw;
    height: 36vh;      
}

.portal-win-manufacture{
    position: absolute;
    padding: 0px;
    margin:0px;
    bottom: 0px;
    left:0px;    
    width: 66vw;        
    height: 36vh;
}

.portal-body{
    width: 100%;
    height: 100%;
    font-size: 12px;
    overflow: hidden;
}


.table-row-header{
    font-size: 16px;
    color: #3ED9EE;     
    background-color:#012A55;        
}

tr{
    height:25px;    
    line-height: 25px;
    vertical-align:middle;
    color: yellow;
}

.table-col-priority{
    width: 30px;    
}

.table-tr-planned{
    color: white
}

.img-priority{
    width:25px;    
    left: 50%;       
    vertical-align: middle;
}

.table-col-production-no{
    width: 100px;       
}

.table-col-order-no{
    width: 100px;    
    text-align: center;
}

/* .table-tr-delay{        
    color:red; 
} */


.table-tr-finished{
    color:green !important;
}

.table-tr-urgent{    
    font-style: italic;    
    background-color:	#000000 !important;    
}

.table-tr-urgent > td, .table-tr-delay > td{
    border:1px dashed red;
}

.portal-table-manufacture{
    border:none;
    width: 100%;
}

tbody>tr>td:nth-of-type(2),tbody>tr>td:nth-of-type(3){
    text-align: left;
}