html,body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding:0px;
    overflow: hidden;
    /* background-color: #0565e2; */
    background-image: url("images/background.jpg");
    color: white;
    text-align: center;           
    background-size:contain;
}

.portal-win{
    width: 33vw;
    height: 33vh;         
    padding: 0px;
    margin:0px;    
    position: absolute;
}
.portal-win-top-left{
    top: 0px;
    left:0px;
}

.portal-win-top-center{
    top:0px;
    left: 50%;
    margin-left: -16.60vw;
}

.portal-win-top-right{
    top:0px;
    right:3px;
}

.portal-win-middle-left{
    top: 50%;
    margin-top: -16.60vh;
    left:0px;
}

.portal-win-middle-center{
    top: 50%;
    margin-top: -16.60vh;
    left: 50%;
    margin-left: -16.60vw;
}

.portal-win-middle-right{
    top: 50%;
    margin-top: -16.60vh;
    right: 3px;
}

.portal-win-bottom-left{
    bottom: 2px;
    left:0px;
}

.portal-win-bottom-center{
    bottom: 2px;
    left: 50%;
    margin-left: -16.60vw;
}

.portal-win-bottom-right{    
    right: 3px;
    bottom: 2px;
}

.portal-panel{
    width: 100%;
    height: 100%; 
    border:1px solid white;
    border-radius: 5px;    
    overflow: hidden;    
}
.portal-title{
    width: 100%;
    border:none;
    font-weight: bolder;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    /* background-color: #ECFFFF;
    color: black; */
}

.portal-body{
    width: 100%;
    height: 100%;
    font-size: 12px;
    overflow: hidden;
}

.table-row-header{
    font-size: 14px;
    color: #3ED9EE;    
}

tbody > tr {
    height:22px;    
    color: yellow;
}

.table-col-priority{
    width: 30px;   
    line-height: 20px;  
    vertical-align: middle;    
}

.img-priority{
    width:20px;
    height:16px;
    margin-top: -6px; 
    margin-left: -8px; 
    position: absolute;
}

.table-col-production-no{
    width: 100px;       
}

.table-col-order-no{
    width: 120px;    
    text-align: left;
}

.table-tr-delay{    
    color: red !important;
}
.table-tr-finished{
    color:green !important;
}

.table-tr-urgent{    
    font-style: italic;    
}

.table-tr-in-process{
    background-color: 	#E0FFFF;    
    color: black;
    font-weight: bolder;
}
