html,body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding:0px;
    overflow: hidden;
    /* background-color: #0565e2; */
    background-image: url("images/background.jpg");
    color: white;
    text-align: center;           
    background-size:contain;
}

.portal-win{
    width: 33vw;
    height: 33vh;         
    padding: 0px;
    margin:0px;    
    position: absolute;
}

.portal-win-order{    
    position: absolute;    
    padding: 0px;
    margin:0px;        
    top: 0px;
    bottom: 2px;    
    left:0px;
    height: 33vh;
    right: 33.60vw       
}

.img-win-order_border{    
    left: 33vw;
    top: 0px;
    height: 33vh;
    padding-left: 3px;
    position: absolute;
}

.portal-win-order-list{    
    padding: 0px;
    margin:0px;  
    width: 33vw;
    height: 33vh;            
}

.portal-win-order-details{
    top:20px;
    left: 50%;
    margin-left: -16.60vw;
    position: absolute;
    padding-left: 5px;
    margin:0px;    
    width: 32vw;
    height: 33vh;    
}

.table-order-details{
    /* border-bottom: 1px solid rgb(3, 106, 118); */
    margin-top:3px;    
    color: #3ED9EE;   
    width: 100%;
    height: 100%;
    font-size: 12px;
}

.portal-win-plan{
    position: absolute;
    padding: 0px;
    margin:0px;
    top: 0px;
    right: 3px;
    width: 33vw;
    height: 33vh;
}

.portal-win-picking{
    position: absolute;
    padding: 0px;
    margin:0px;
    top:50%;
    margin-top: -16.60vh;
    right:3px;        
    width: 33vw;        
    height: 22vh;
}

.portal-win-cutting{
    position: absolute;
    padding: 0px;
    margin:0px;
    top: 50%;    
    right: 3px;
    margin-top: 6vh;
    height: 22vh;
    width: 33vw;
}

.portal-win-hanging{    
    position: absolute;
    padding: 0px;
    margin:0px;    
    height: 21.30vh;
    width: 33vw;    
    right: 3px;
    bottom: 2px;
}


.portal-win-sew-line{
    position: absolute;    
    padding: 0px;
    margin:0px;        
    top: 50%;
    bottom: 2px;
    margin-top: -16.60vh;
    left:0px;
    right: 33.60vw       
}


.portal-panel{
    width: 100%;
    height: 100%; 
    border:1px solid white;
    border-radius: 5px;    
    padding: 0px;
    margin: 0px;
    overflow: hidden;    
}
.portal-title{
    width: 100%;
    border:none;
    font-weight: bolder;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    padding: 0px;
    margin: 0px;    
    /* background-color: #ECFFFF;
    color: black; */
}

.portal-body{
    width: 100%;
    height: 100%;
    font-size: 12px;
    overflow: hidden;
}

.table-row-header{
    font-size: 14px;
    color: #3ED9EE;    
}

tbody > tr {
    height:22px;    
    color: yellow;
}

.table-col-priority{
    width: 30px;   
    line-height: 20px;  
    vertical-align: middle;    
}


.img-priority{
    width:20px;
    height:16px;
    margin-top: -6px; 
    margin-left: -8px; 
    position: absolute;
}

.table-col-production-no{
    width: 100px;       
}

.table-col-order-no{
    width: 100px;    
    text-align: left;
}

.table-tr-delay{    
    color: red !important;
}
.table-tr-finished{
    color:green !important;
}

.table-tr-urgent{    
    font-style: italic;    
}

.table-tr-in-process{
    background-color:	#E0FFFF;    
    color: black;
    font-weight: bolder;
    opacity:0.65;
}


