<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta charset="utf-8" />
    <title>集成控制中心</title>
    <link rel="stylesheet" href="~/css/imms-center.css">
</head>

<body>
    <img style="position:absolute;top:0px;left:0px; margin:0px;padding:0px;border:none;height:100%;width:100%;"
        src="~/css/images/background.jpg">




    <div class="portal-win-plan">
        <canvas id="canvas_plan">
        </canvas>
    </div>

    <div class="portal-win-video">
        <div
            style="float: left; width: 33%;height: 50%; border:1px #012A55 solid;background-image: url(/css/images/videopic/1-L.png) ;background-size: 100% 100%;">
        </div>
        </td>
        <div
            style="float: left; width: 33%;height: 50%; border:1px #012A55 solid;background-image: url(/css/images/videopic/1-R.png) ;background-size: 100% 100%;">
        </div>
        </td>
        <div
            style="float: left; width: 33%;height: 50%; border:1px #012A55 solid;background-image: url(/css/images/videopic/2-L.png) ;background-size: 100% 100%;">
        </div>

        <div
            style="float: left; width: 33%;height: 50%; border:1px #012A55 solid;background-image: url(/css/images/videopic/2-R.png) ;background-size: 100% 100%;">
        </div>
        </td>
        <div
            style="float: left; width: 33%;height: 50%; border:1px #012A55 solid;background-image: url(/css/images/videopic/3-L.png) ;background-size: 100% 100%;">
        </div>
        </td>
        <div
            style="float: left; width: 33%;height: 50%; border:1px #012A55 solid;background-image: url(/css/images/videopic/3-R.png) ;background-size: 100% 100%;">
        </div>
        </td>

    </div>

    <div class="portal-efficiency" style="background-color:rgb(14,14,37);">
        <div
            style="float: left; width: 100%;height:100%; border:1px #012A55 solid;background-image: url(/css/images/lamp_1.PNG) ; background-repeat: no-repeat;background-size: 100% 100%;">
        </div>
    </div>

    <div class="portal-qty" style="background-color:rgb(14,14,37);">
        <div
            style="float: left; width: 100%;height:100%; border:1px #012A55 solid;background-image: url(/css/images/qty.PNG) ; background-repeat: no-repeat;background-size: 100% 100%;">
        </div>
    </div>

    <div class="portal-win-manufacture">
        <div class="portal-body">
            <table class="portal-table-manufacture">
                <thead>
                    <tr class="table-row-header">
                        <th style="width:120px;">订单</th>
                        <th style="width:200px;">产品</th>
                        <th style="width:250px;">客户</th>
                        <th>状态</th>
                        <th>排期</th>                        
                        <th>计划</th>
                        <th>领料</th>
                        <th>裁剪</th>
                        <th>上裁片</th>
                        <th>缝制</th>
                        <th>入库</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-tr-finished">
                        <td>3826-A4391265</td>
                        <td>B531-6CAF9323，女半裙</td>
                        <td>深圳衣全球联合设计有限公司</td>
                        <td>已完成</td>
                        <td>08:00~08:45</td>                        
                        <td>120</td>
                        <td>120</td>
                        <td>120</td>
                        <td>120</td>
                        <td>120</td>
                        <td>120</td>
                    </tr>
                    <tr class="table-tr-finished">
                        <td>3826-A4391265</td>
                        <td>B531-6CAF9323，长裙</td>
                        <td>深圳衣全球联合设计有限公司</td>                        
                        <td>已完成</td>
                        <td>08:05~08:50</td>                       
                        <td>120</td>
                        <td>120</td>
                        <td>120</td>
                        <td>120</td>
                        <td>120</td>
                        <td>120</td>
                    </tr>
                    <tr class="table-tr-finished">
                        <td>3826-A4391265</td>
                        <td>B531-6CAF9323</td>
                        <td>深圳衣全球联合设计有限公司</td>                        
                        <td>已完成</td>
                        <td>08:10~09:30</td>
                        <td>120</td>
                        <td>120</td>
                        <td>120</td>
                        <td>120</td>
                        <td>120</td>
                        <td>120</td>
                    </tr>
                    <tr class="table-tr-urgent table-tr-delay">
                        <td>3819-50032861</td>
                        <td>A913-FCC33669</td>
                        <td>深圳衣全球联合设计有限公司</td>                        
                        <td style="color:red;">已延误</td>
                        <td>08:30~10:00</td>                        
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr class="table-tr-urgent">
                        <td>3826-A4391265</td>
                        <td>B531-6CAF9323</td>
                        <td>深圳衣全球联合设计有限公司</td>                        
                        <td>正常</td>
                        <td>09:00~10:30</td>                        
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>

                    </tr>
                    <tr>
                        <td>3893-20180530</td>
                        <td>B531-FCC3366R</td>
                        <td>深圳衣全球联合设计有限公司</td>                        
                        <td>正常</td>
                        <td>09:05~11:15</td>                        
                        <td>120</td>
                        <td>120</td>
                        <td>120</td>
                        <td>80</td>
                        <td>60</td>
                        <td>40</td>
                    </tr>
                    <tr>
                        <td>3826-A4391265</td>
                        <td>B531-6CAF9323</td>
                        <td>深圳衣全球联合设计有限公司</td>                        
                        <td>正常</td>
                        <td>09:15~11:30</td>                        
                        <td>120</td>
                        <td>120</td>
                        <td>120</td>
                        <td>120</td>
                        <td>120</td>
                        <td>100</td>
                    </tr>
                    <tr class="table-tr-planned">
                        <td>3826-A4391265</td>
                        <td>B531-6CAF9323</td>
                        <td>深圳衣全球联合设计有限公司</td>                        
                        <td>未开始</td>
                        <td>10:05~11:45</td>                        
                        <td>120</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr class="table-tr-planned">
                        <td>3826-A4391265</td>
                        <td>B531-6CAF9323</td>
                        <td>深圳衣全球联合设计有限公司</td>
                        <td>未开始</td>
                        <td>10:05~11:45</td>
                        <td>120</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>

                    <tr class="table-tr-planned">
                        <td>3826-A4391265</td>
                        <td>B531-6CAF9323</td>
                        <td>深圳衣全球联合设计有限公司</td>
                        <td>未开始</td>
                        <td>10:45~12:00</td>
                        <td>120</td>                        
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr class="table-tr-planned">
                        <td>3826-A4391265</td>
                        <td>B531-6CAF9323</td>
                        <td>深圳衣全球联合设计有限公司</td>
                        <td>未开始</td>
                        <td>10:45~12:00</td>
                        <td>120</td>                        
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <img class="img-win-border" style="height:100% !important;" src="~/css/images/vsplitter.png">
    <div class="portal-win-sew-line">
        <canvas id="canvas_sew_line"></canvas>
    </div>
</body>

<script type="text/javascript">
    setTimeout(drawPlan, 50);
    setTimeout(drawSewLine, 50);

    function drawPlan() {
        var c = document.getElementById("canvas_plan");
        var b = document.getElementsByClassName("portal-efficiency");

        var width = c.parentElement.clientWidth;
        var height = c.parentElement.clientHeight;
        c.setAttribute("width", width + "px");
        c.setAttribute("height", height + "px");

        var theTop = 18;
        var theLeft = 5;
        var theGap = (width - theLeft) / 8;
        var labels = [
            "08:00", "08:30",
            "09:00", "09:30",
            "10:00", "10:30",
            "11:00", "11:30",
            "12:00"
        ];

        setTimeout(function () {
            var ctx = c.getContext("2d");
            ctx.strokeStyle = "#3ED9EE";
            ctx.lineWidth = 1;
            ctx.moveTo(theLeft, theTop);
            ctx.lineTo(width - theLeft, theTop);
            ctx.stroke();
            ctx.fillStyle = '#3ED9EE';

            for (var i = 0; i < 8; i++) {
                var curLeft = theGap * i + theLeft;
                if (i == 0) {
                    ctx.fillText(labels[i], curLeft, theTop - 5);
                } else {
                    ctx.fillText(labels[i], (curLeft - 12), theTop - 5);
                }

                ctx.moveTo(curLeft, theTop);
                if ((i % 2) == 0) {
                    ctx.lineTo(curLeft, theTop + 8);
                } else {
                    ctx.lineTo(curLeft, theTop + 6);
                }
                ctx.stroke();
            }

            ctx.moveTo(width - theLeft, theTop);
            ctx.lineTo(width - theLeft, theTop + 8);
            ctx.stroke();
            ctx.fillText(labels[i], width - theGap / 2, theTop - 5);

            var vGap = 4;
            var theHeight = 25;
            var theWidth = theGap * 1.5;

            ctx.lineWidth = 2;
            theTop += theHeight - 13
            drawProgress(ctx, theLeft, theTop, theWidth, theHeight, 1);

            theTop += theHeight + vGap;
            theLeft += theGap / 4;
            theWidth += 5;
            drawProgress(ctx, theLeft, theTop, theWidth, theHeight, 1);

            theTop += theHeight + vGap;
            theLeft += 10;
            theWidth += theWidth * 0.6;
            drawProgress(ctx, theLeft, theTop, theWidth, theHeight, 1);

            theTop += theHeight + vGap;
            theLeft += theWidth * 0.3;
            theWidth = theGap * 3;
            drawProgress(ctx, theLeft, theTop, theWidth, theHeight, 0, true);

            theTop += theHeight + vGap;
            theLeft += theGap * 0.8;
            theWidth = theGap * 3 + 5;
            drawProgress(ctx, theLeft, theTop, theWidth, theHeight, 0.9);

            theTop += theHeight + vGap;
            theLeft += theGap / 3;
            theWidth = theGap * 4;
            drawProgress(ctx, theLeft, theTop, theWidth, theHeight, 0.6);

            theTop += theHeight + vGap;
            theLeft += theGap / 3;
            theWidth = theGap * 4.25;
            drawProgress(ctx, theLeft, theTop, theWidth, theHeight, 0.4);

            theTop += theHeight + vGap;
            theWidth = theGap * 3;
            theLeft += theGap * 1.75;
            drawProgress(ctx, theLeft, theTop, theWidth, theHeight, 0);

            theTop += theHeight + vGap;
            drawProgress(ctx, theLeft, theTop, theWidth, theHeight, 0);

            theTop += theHeight + vGap;
            theLeft += theWidth / 2 - 10;
            theWidth = theGap * 2.25;
            drawProgress(ctx, theLeft, theTop, theWidth, theHeight, 0);

            theTop += theHeight + vGap;
            theWidth = theGap * 2.25;
            drawProgress(ctx, theLeft, theTop, theWidth, theHeight, 0);
        }, 50);
    }

    function drawProgress(ctx, x, y, width, height, percent, isDelay) {
        var progressColor = "green";
        var textColor = "black";
        var radius = 10;
        var totalColor = "#3ED9EE";
        percent = percent || 0;
        isDelay = isDelay || false;

        if (isDelay) {
            totalColor = "red";
            textColor = "white";
        }

        fillRoundRect(ctx, x, y, width, height, radius, totalColor);
        if (percent != 0) {
            fillRoundRect(ctx, x, y, width * percent, height, radius, progressColor);
        }
        ctx.fillStyle = textColor;
        ctx.fillText((percent * 100) + '%', x + width / 2 - 15, y + height / 2 + 3);
    }

    function fillRoundRect(cxt, x, y, width, height, radius, /*optional*/ fillColor) {
        //圆的直径必然要小于矩形的宽高     
        radius = radius || 10;
        if (2 * radius > width || 2 * radius > height) { return false; }

        cxt.save();
        cxt.translate(x, y);
        //绘制圆角矩形的各个边  
        drawRoundRectPath(cxt, width, height, radius);
        cxt.fillStyle = fillColor; //若是给定了值就用给定的值否则给予默认值  
        var oldGlobalAlpha = cxt.globalAlpha;
        cxt.globalAlpha = 0.9;
        cxt.fill();
        cxt.globalAlpha = oldGlobalAlpha;
        cxt.restore();
    }

    function strokeRoundRect(cxt, x, y, width, height, radius, /*optional*/ lineWidth, /*optional*/ strokeColor) {
        //圆的直径必然要小于矩形的宽高          
        radius = radius || 8;
        if (2 * radius > width || 2 * radius > height) { return false; }

        cxt.save();
        cxt.translate(x, y);
        //绘制圆角矩形的各个边  
        drawRoundRectPath(cxt, width, height, radius);
        // cxt.lineWidth = lineWidth || 2; //若是给定了值就用给定的值否则给予默认值2  
        // cxt.strokeStyle = strokeColor || "#000";
        cxt.stroke();
        cxt.restore();
    }

    function drawRoundRectPath(cxt, width, height, radius) {
        cxt.beginPath(0);
        //从右下角顺时针绘制，弧度从0到1/2PI  
        cxt.arc(width - radius, height - radius, radius, 0, Math.PI / 2);

        //矩形下边线  
        cxt.lineTo(radius, height);

        //左下角圆弧，弧度从1/2PI到PI  
        cxt.arc(radius, height - radius, radius, Math.PI / 2, Math.PI);

        //矩形左边线  
        cxt.lineTo(0, radius);

        //左上角圆弧，弧度从PI到3/2PI  
        cxt.arc(radius, radius, radius, Math.PI, Math.PI * 3 / 2);

        //上边线  
        cxt.lineTo(width - radius, 0);

        //右上角圆弧  
        cxt.arc(width - radius, radius, radius, Math.PI * 3 / 2, Math.PI * 2);

        //右边线  
        cxt.lineTo(width, height - radius);
        cxt.closePath();
    }

    function drawSewLine() {
        var c = document.getElementById("canvas_sew_line");
        var ctx = c.getContext("2d");
        var width = c.parentElement.clientWidth;
        var height = c.parentElement.clientHeight - 30;

        c.setAttribute("width", width + "px");
        c.setAttribute("height", height + "px");

        ctx.strokeStyle = "#3ED9EE";
        ctx.fillStyle = "#3ED9EE";
        ctx.lineWidth = 1;

        ctx.strokeRect(1, 22, width - 2, 30);
        ctx.strokeRect(1, height - 52, width - 2, 30);

        var lineWidth = 60;
        var theLeft = 15;
        var theTop = 130 - 50;
        var theWidth = lineWidth * 1.2;
        var theHeight = (height - 103) / 4 - 25;

        ///------------------------- Line 1 -----------------------------------------------------
        theLeft = 15;
        ctx.strokeRect(theLeft, theTop - 10, theWidth, theHeight);
        ctx.strokeRect(theLeft, theTop + theHeight + 10, theWidth, theHeight);
        ctx.strokeRect(theLeft, theTop + theHeight * 2 + 30, theWidth, theHeight);
        ctx.strokeRect(theLeft, theTop + theHeight * 3 + 50, theWidth, theHeight);

        theLeft = lineWidth + 35;
        ctx.strokeRect(theLeft, 52, lineWidth, height - 103);

        theLeft += lineWidth + 10;
        ctx.strokeRect(theLeft, theTop - 10, theWidth, theHeight);
        ctx.strokeRect(theLeft, theTop + theHeight + 10, theWidth, theHeight);
        ctx.strokeRect(theLeft, theTop + theHeight * 2 + 30, theWidth, theHeight);
        ctx.strokeRect(theLeft, theTop + theHeight * 3 + 50, theWidth, theHeight);

        ///------------------------- Line  2 -----------------------------------------------------
        theLeft += theWidth + 30;
        ctx.strokeRect(theLeft, theTop - 10, theWidth, theHeight);
        ctx.strokeRect(theLeft, theTop + theHeight + 10, theWidth, theHeight);
        ctx.strokeRect(theLeft, theTop + theHeight * 2 + 30, theWidth, theHeight);
        ctx.strokeRect(theLeft, theTop + theHeight * 3 + 50, theWidth, theHeight);

        theLeft += theWidth + 10;
        ctx.strokeRect(theLeft, 52, lineWidth, height - 103);

        theLeft += lineWidth + 10;
        ctx.strokeRect(theLeft, theTop - 10, theWidth, theHeight);
        ctx.strokeRect(theLeft, theTop + theHeight + 10, theWidth, theHeight);
        ctx.strokeRect(theLeft, theTop + theHeight * 2 + 30, theWidth, theHeight);
        ctx.strokeRect(theLeft, theTop + theHeight * 3 + 50, theWidth, theHeight);

        ///------------------------- Line  3 -----------------------------------------------------
        theLeft += theWidth + 30;
        ctx.strokeRect(theLeft, theTop - 10, theWidth, theHeight);
        ctx.strokeRect(theLeft, theTop + theHeight + 10, theWidth, theHeight);
        ctx.strokeRect(theLeft, theTop + theHeight * 2 + 30, theWidth, theHeight);
        ctx.strokeRect(theLeft, theTop + theHeight * 3 + 50, theWidth, theHeight);

        theLeft += theWidth + 10;
        ctx.strokeRect(theLeft, 52, lineWidth, height - 103);

        theLeft += lineWidth + 10;
        ctx.strokeRect(theLeft, theTop - 10, theWidth, theHeight);
        ctx.strokeRect(theLeft, theTop + theHeight + 10, theWidth, theHeight);
        ctx.strokeRect(theLeft, theTop + theHeight * 2 + 30, theWidth, theHeight);
        ctx.strokeRect(theLeft, theTop + theHeight * 3 + 50, theWidth, theHeight);

        ///------------------------- Line  4 -----------------------------------------------------
        theLeft += theWidth + 30;
        ctx.strokeRect(theLeft, theTop - 10, theWidth, theHeight);
        ctx.strokeRect(theLeft, theTop + theHeight + 10, theWidth, theHeight);
        ctx.strokeRect(theLeft, theTop + theHeight * 2 + 30, theWidth, theHeight);
        ctx.strokeRect(theLeft, theTop + theHeight * 3 + 50, theWidth, theHeight);

        theLeft += theWidth + 10;
        ctx.strokeRect(theLeft, 52, lineWidth, height - 103);

        theLeft += lineWidth + 10;
        ctx.strokeRect(theLeft, theTop - 10, theWidth, theHeight);
        ctx.strokeRect(theLeft, theTop + theHeight + 10, theWidth, theHeight);
        ctx.strokeRect(theLeft, theTop + theHeight * 2 + 30, theWidth, theHeight);
        ctx.strokeRect(theLeft, theTop + theHeight * 3 + 50, theWidth, theHeight);

        ///------------------------- Line  5 -----------------------------------------------------
        theLeft += theWidth + 30;
        ctx.strokeRect(theLeft, theTop - 10, theWidth, theHeight);
        ctx.strokeRect(theLeft, theTop + theHeight + 10, theWidth, theHeight);
        ctx.strokeRect(theLeft, theTop + theHeight * 2 + 30, theWidth, theHeight);
        ctx.strokeRect(theLeft, theTop + theHeight * 3 + 50, theWidth, theHeight);

        theLeft += theWidth + 10;
        ctx.strokeRect(theLeft, 52, lineWidth, height - 103);

        theLeft += lineWidth + 10;
        ctx.strokeRect(theLeft, theTop - 10, theWidth, theHeight);
        ctx.strokeRect(theLeft, theTop + theHeight + 10, theWidth, theHeight);
        ctx.strokeRect(theLeft, theTop + theHeight * 2 + 30, theWidth, theHeight);
        ctx.strokeRect(theLeft, theTop + theHeight * 3 + 50, theWidth, theHeight);

        /////////////////////////////////////////////////////////////////////////////////////////
        ctx.save();
        theLeft = 15 + theWidth + lineWidth * 0.5;
        ctx.font = '18px 微软雅黑';
        ctx.fillStyle = "#3ED9EE";
        ctx.rotate(90 * Math.PI / 180);

        var y = -theLeft, x = theHeight * 2.5;
        ctx.fillText("Line 1", x, y);
        ctx.fillText("Line 2", x, y * 3.2);
        ctx.fillText("Line 3", x, y * 5.35);
        ctx.fillText("Line 4", x, y * 7.5);
        ctx.fillText("Line 5", x, y * 9.7);

        ctx.restore();

        /////////////////////////////////////////////////////////////////////////////////////////        
    }  
</script>

</html>