<!DOCTYPE html >
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width"/>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
        <meta charset="utf-8"/>
        <title>Imms 集成控制中心</title>
        <link rel="stylesheet" href="~/css/imms-center.css">
    </head>
    <body>             
        <div class="portal-win portal-win-top-left">
            <div class="portal-panel">
                订单与客户
            </div>            
        </div>
        <div class="portal-win portal-win-top-center" style="position:relative !important">
            <div class="portal-panel">
                生产计划
            </div>               
        </div>
        <div class="portal-win portal-win-top-right">
            <div class="portal-panel">
                领料
            </div>  
        </div>
        <div class="portal-win portal-win-middle-left">
            <div class="portal-panel">
                工程技术文件
            </div>          
        </div>
        <div class="portal-win portal-win-middle-center">
            <div class="portal-panel">
                缝制工作中心
            </div>                 
        </div>
        <div class="portal-win portal-win-middle-right">
            <div class="portal-panel">
                裁片
            </div>  
        </div>
        <div class="portal-win portal-win-bottom-left">
            <div class="portal-panel">
                销售达成率
            </div>              
        </div>
        <div class="portal-win portal-win-bottom-center">
            <div class="portal-panel">
                视频
            </div>   
        </div>
        <div class="portal-win portal-win-bottom-right">
            <div class="portal-panel">
                人员效率
            </div>   
        </div>            
    </body>
</html>